In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# !pip install pyjwt==1.6.4
import os
import jwt
import uuid
import hashlib
from urllib.parse import urlencode
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import copy

In [3]:
coins = ['KRW-BTC','KRW-ETH','KRW-XRP']
#coins = ['KRW-ETH']
df_coin = {}
for coin in coins:
    print(coin)
    df_coin[coin] = getCoinDF(coin,30,200)
  
df_coin['KRW-ETH']

KRW-BTC
KRW-ETH
KRW-XRP

ValueError: Expected object or value

In [81]:
coin_name = 'KRW-ETH'
df = df_coin[coin_name]
df = df.loc[::-1,:]
df = df.reset_index()
df

,index,market,candle_date_time_utc,candle_date_time_kst,opening_price,high_price,low_price,trade_price,timestamp,candle_acc_trade_price,candle_acc_trade_volume,unit
0,999,KRW-ETH,2021-05-10T21:00:00,2021-05-11T06:00:00,5049000,5115000,4995000,5064000,2021-05-10 21:30:00.138,4.550917e+10,8978.386773,30
1,998,KRW-ETH,2021-05-10T21:30:00,2021-05-11T06:30:00,5068000,5170000,5023000,5147000,2021-05-10 22:00:00.287,4.322203e+10,8490.874198,30
2,997,KRW-ETH,2021-05-10T22:00:00,2021-05-11T07:00:00,5147000,5200000,5112000,5150000,2021-05-10 22:29:59.988,4.094357e+10,7925.304005,30
3,996,KRW-ETH,2021-05-10T22:30:00,2021-05-11T07:30:00,5150000,5155000,5097000,5138000,2021-05-10 22:59:59.088,2.979543e+10,5814.918994,30
4,995,KRW-ETH,2021-05-10T23:00:00,2021-05-11T08:00:00,5140000,5141000,4950000,4976000,2021-05-10 23:30:00.461,6.211992e+10,12326.948811,30
...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,KRW-ETH,2021-05-31T12:30:00,2021-05-31T21:30:00,3003000,3004000,2960000,2985000,2021-05-31 12:59:58.492,3.256290e+10,10934.905259,30
996,3,KRW-ETH,2021-05-31T13:00:00,2021-05-31T22:00:00,2985000,3027000,2968000,3011000,2021-05-31 13:29:58.487,2.010353e+10,6708.953051,30
997,2,KRW-ETH,2021-05-31T13:30:00,2021-05-31T22:30:00,3010000,3015000,2970000,2979000,2021-05-31 13:59:56.968,1.852639e+10,6197.938155,30
998,1,KRW-ETH,2021-05-31T14:00:00,2021-05-31T23:00:00,2980000,2991000,2946000,2969000,2021-05-31 14:29:59.779,1.850617e+10,6237.424095,30
999,0,KRW-ETH,2021-05-31T14:30:00,2021-05-31T23:30:00,2969000,2975000,2969000,2975000,2021-05-31 14:31:34.431,3.820921e+08,128.581247,30

In [105]:
df['opening_price_bef'] = df['opening_price'].shift(1)
df['opening_price_bef2'] = df['opening_price'].shift(2)
df['opening_price_after'] = df['opening_price'].shift(-1)
df['diff'] = df['opening_price']-df['opening_price_bef']
df['diff2'] = df['opening_price_bef']-df['opening_price_bef2']
df['diff_after'] = df['opening_price_after']-df['opening_price']
df.fillna(0,inplace=True)
df['diff_up'] = df.apply(lambda x : 1 if x['diff']>=0 and x['diff2']>=0 else 0,axis=1)
df[['opening_price','opening_price_bef','opening_price_after','diff','diff2','diff_after','diff_up']]

,opening_price,opening_price_bef,opening_price_after,diff,diff2,diff_after,diff_up
0,5049000,0.0,5068000.0,0.0,0.0,19000.0,1
1,5068000,5049000.0,5147000.0,19000.0,0.0,79000.0,1
2,5147000,5068000.0,5150000.0,79000.0,19000.0,3000.0,1
3,5150000,5147000.0,5140000.0,3000.0,79000.0,-10000.0,1
4,5140000,5150000.0,4980000.0,-10000.0,3000.0,-160000.0,0
...,...,...,...,...,...,...,...
995,3003000,3003000.0,2985000.0,0.0,-49000.0,-18000.0,0
996,2985000,3003000.0,3010000.0,-18000.0,0.0,25000.0,0
997,3010000,2985000.0,2980000.0,25000.0,-18000.0,-30000.0,0
998,2980000,3010000.0,2969000.0,-30000.0,25000.0,-11000.0,0
999,2969000,2980000.0,0.0,-11000.0,-30000.0,0.0,0

In [104]:
df[['diff_up','diff_after']].groupby(['diff_up']).mean()

          diff_after
diff_up
0       -1400.000000
1       -4356.521739

In [87]:
money = 1000000
stock = 0
write = []

for i in range(len(df)):
    diff = df['diff'].loc[i]
    if diff<0:
        if money>1:
            stock += money/df['opening_price'].loc[i]
            money = 0
            continue

    if stock>0:
        money += df['opening_price'].loc[i]*stock
        stock = 0
        continue

    # if diff>0:
    #     if stock>0:
    #         money += df['opening_price'].loc[i]*stock
    #         stock = 0

    write.append(money+stock*df['opening_price'].loc[i])

print(money+stock*df['opening_price'].loc[i])
#write[:10]

968549.3864727891

## tf agent 이용한 PPO 모델 사용

In [5]:
# import os
# from datetime import datetime
# from collections import deque
# import numpy as np

# base_pwd = "C://Users/cih46/Desktop/bit"

# def Write_to_file(Date, net_worth, filename='{}.txt'.format(datetime.now().strftime("%m_%d_%H_%M_%S"))):
#     for i in net_worth: 
#         Date += " {}".format(i)
#     #print(Date)
#     if not os.path.exists('logs'):
#         os.makedirs('logs')
#     file = open(base_pwd+"/logs/"+filename, 'a+')
#     file.write(Date+"\n")
#     file.close()

In [6]:
df = df['KRW-ETH']
df.rename(columns={'opening_price' : 'Open','trade_price':'Close','high_price' : 'High', 'candle_date_time_kst' : 'Date',
'candle_acc_trade_volume':'Volume','low_price':'Low'}, inplace = True)
df = df[['Date','Open','High','Low','Close','Volume']]
df

                    Date     Open     High      Low    Close       Volume
0    2021-04-28T01:30:00  3087000  3100000  3069000  3073000  1655.638545
1    2021-04-28T02:00:00  3073000  3087000  3055000  3077000  1555.382445
2    2021-04-28T02:30:00  3080000  3094000  3076000  3088000   570.217042
3    2021-04-28T03:00:00  3088000  3089000  3071000  3078000   271.719260
4    2021-04-28T03:30:00  3079000  3091000  3076000  3090000   246.889809
..                   ...      ...      ...      ...      ...          ...
995  2021-05-18T17:00:00  4287000  4319000  4283000  4310000  4529.736673
996  2021-05-18T17:30:00  4310000  4310000  4250000  4255000  4884.569741
997  2021-05-18T18:00:00  4261000  4273000  4208000  4232000  4408.915316
998  2021-05-18T18:30:00  4232000  4254000  4225000  4248000  2636.969311
999  2021-05-18T19:00:00  4249000  4280000  4223000  4258000  2455.837537

[1000 rows x 6 columns]

In [7]:
from collections import defaultdict
import random

class QLearningAgent:
    def __init__(self, actions):
        # 행동 = [0, 1, 2] 순서대로 hold, buy, sell
        self.actions = actions
        self.learning_rate = 0.01
        self.discount_factor = 0.99
        self.epsilon = 0.9
        self.q_table = defaultdict(lambda : [0,0,0])

    def get_q(self,state) :
        string_state = format(state,".1f")

        return self.q_table[string_state]        


    def learn(self, state, action, reward, next_state):
        q_1 = self.get_q(state)[action]
        # 벨만 최적 방정식을 사용한 큐함수의 업데이트
        q_2 = reward + self.discount_factor * max(self.get_q(next_state))        
        self.get_q(state)[action] += self.learning_rate * (q_2 - q_1)

    # 큐함수에 의거하여 입실론 탐욕 정책에 따라서 행동을 반환
    def get_action(self, state):
        if np.random.rand() < self.epsilon:
            # 무작위 행동 반환
            action = np.random.choice(self.actions)
        else:
            # 큐함수에 따른 행동 반환
            state_action = self.get_q(state)
            action = self.arg_max(state_action)
        
        self.epsilon *= 1.001
        return action        
    def get_random_action(self,state) :
        action = np.random.choice(self.actions)
        return action

    @staticmethod
    def arg_max(state_action):
        max_index_list = []
        max_value = state_action[0]
        for index, value in enumerate(state_action):
            if value > max_value:
                max_index_list.clear()
                max_value = value
                max_index_list.append(index)
            elif value == max_value:
                max_index_list.append(index)
        return random.choice(max_index_list)

In [8]:
def q_learning(agent,env, train_episodes = 1,is_train=False,is_random=False):
    
    average_net_worth = 0

    for episode in range(train_episodes):
        state = env.reset()

        while True:

            env.render()

            action = agent.get_action(state)
            if is_random:
                action = agent.get_random_action(state)

            next_state, reward, done = env.step(action)

            agent.learn(state, action, reward, next_state)
            
            state = next_state

            if env.current_step == env.end_step:
                average_net_worth += env.net_worth
                print("net_worth:", env.net_worth)
                print(agent.q_table)
                break
            
            if done:
                break     

    print("average_net_worth:", average_net_worth/train_episodes)

In [9]:
import customEnv as CustomEnv
test_size = -400
train_df = df[:test_size]
test_df = df[test_size:].reset_index()

train_df

                    Date     Open     High      Low    Close        Volume
0    2021-04-28T01:30:00  3087000  3100000  3069000  3073000   1655.638545
1    2021-04-28T02:00:00  3073000  3087000  3055000  3077000   1555.382445
2    2021-04-28T02:30:00  3080000  3094000  3076000  3088000    570.217042
3    2021-04-28T03:00:00  3088000  3089000  3071000  3078000    271.719260
4    2021-04-28T03:30:00  3079000  3091000  3076000  3090000    246.889809
..                   ...      ...      ...      ...      ...           ...
595  2021-05-10T10:00:00  4777000  4777000  4751000  4760000   2022.883517
596  2021-05-10T10:30:00  4757000  4815000  4756000  4780000   2339.488664
597  2021-05-10T11:00:00  4780000  4843000  4779000  4820000   3135.806979
598  2021-05-10T11:30:00  4820000  4868000  4810000  4862000   4264.784991
599  2021-05-10T12:00:00  4864000  4932000  4861000  4908000  11896.961451

[600 rows x 6 columns]

In [10]:
test_df

,index,Date,Open,High,Low,Close,Volume
0,600,2021-05-10T12:00:00,4864000,4932000,4861000,4908000,11896.961451
1,601,2021-05-10T12:30:00,4908000,4946000,4900000,4914000,8223.173668
2,602,2021-05-10T13:00:00,4914000,4927000,4887000,4912000,5437.053095
3,603,2021-05-10T13:30:00,4911000,4983000,4911000,4981000,7363.056358
4,604,2021-05-10T14:00:00,4981000,5016000,4941000,4970000,15615.365537
...,...,...,...,...,...,...,...
395,995,2021-05-18T17:00:00,4287000,4319000,4283000,4310000,4529.736673
396,996,2021-05-18T17:30:00,4310000,4310000,4250000,4255000,4884.569741
397,997,2021-05-18T18:00:00,4261000,4273000,4208000,4232000,4408.915316
398,998,2021-05-18T18:30:00,4232000,4254000,4225000,4248000,2636.969311
399,999,2021-05-18T19:00:00,4249000,4280000,4223000,4258000,2455.837537

In [11]:
for i in range(100):
    print( round((train_df.loc[i,'Close'] - train_df.loc[i, 'Open'])*100  / train_df.loc[i, 'Open'] , 1) )

-0.5
0.1
0.3
-0.3
0.4
-0.8
0.4
0.2
0.4
-0.4
0.5
-0.4
-0.3
0.5
1.2
0.8
0.3
-0.0
0.3
-0.5
-0.8
-0.8
-1.4
0.8
-1.1
-0.5
-0.1
-1.4
0.7
1.3
-0.8
0.3
-1.2
-0.0
1.2
1.1
0.3
1.4
0.5
0.9
-0.0
-0.9
0.0
0.5
-0.8
-0.7
-0.1
0.8
0.5
0.1
-0.4
0.4
-0.0
1.0
-0.1
-0.8
0.4
0.5
1.2
-1.1
-0.6
0.3
0.9
-1.1
-0.6
0.1
1.4
0.1
-0.1
-0.2
-0.5
-0.5
0.0
0.8
0.3
0.0
0.4
-0.3
0.2
-0.6
0.4
1.1
0.2
-0.2
0.3
-0.2
-0.1
1.5
-0.1
-0.4
-1.1
0.8
-0.1
0.7
-0.2
-0.7
-0.2
0.2
0.1
-0.4

In [12]:
train_env = CustomEnv.CustomEnv(df=train_df)
test_env = CustomEnv.CustomEnv(df=test_df)

agent = QLearningAgent(actions=list(range(len(train_env.action_space))))

q_learning(agent,train_env, train_episodes = 1,is_train=True)
q_learning(agent,test_env, train_episodes = 1,is_train=False)

585643
Step: 513, Net Worth: 1122.990406803605
Step: 514, Net Worth: 1122.990406803605
Step: 515, Net Worth: 1130.1196663812439
Step: 516, Net Worth: 1130.1196663812439
Step: 517, Net Worth: 1126.4195552190977
Step: 518, Net Worth: 1126.4195552190977
Step: 519, Net Worth: 1126.4195552190977
Step: 520, Net Worth: 1126.4195552190977
Step: 521, Net Worth: 1123.769156265641
Step: 522, Net Worth: 1127.744754695826
Step: 523, Net Worth: 1146.8276271607144
Step: 524, Net Worth: 1163.2601006721459
Step: 525, Net Worth: 1164.3202602535287
Step: 526, Net Worth: 1164.3202602535287
Step: 527, Net Worth: 1166.9791327364096
Step: 528, Net Worth: 1166.9791327364096
Step: 529, Net Worth: 1206.0031715315347
Step: 530, Net Worth: 1244.4926344527537
Step: 531, Net Worth: 1244.4926344527537
Step: 532, Net Worth: 1244.4926344527537
Step: 533, Net Worth: 1244.4926344527537
Step: 534, Net Worth: 1244.4926344527537
Step: 535, Net Worth: 1244.4926344527537
Step: 536, Net Worth: 1246.6908992078038
Step: 537, Net Worth: 1246.6908992078038
Step: 538, Net Worth: 1246.6908992078038
Step: 539, Net Worth: 1256.936196389875
Step: 540, Net Worth: 1275.0002730003687
Step: 541, Net Worth: 1272.0345290792427
Step: 542, Net Worth: 1263.1372973158652
Step: 543, Net Worth: 1267.7207197394234
Step: 544, Net Worth: 1283.8975047637462
Step: 545, Net Worth: 1283.8975047637462
Step: 546, Net Worth: 1283.8975047637462
Step: 547, Net Worth: 1283.8975047637462
Step: 548, Net Worth: 1283.8975047637462
Step: 549, Net Worth: 1283.3509328162095
Step: 550, Net Worth: 1283.3509328162095
Step: 551, Net Worth: 1283.3509328162095
Step: 552, Net Worth: 1283.3509328162095
Step: 553, Net Worth: 1287.5995599474031
Step: 554, Net Worth: 1287.5995599474031
Step: 555, Net Worth: 1287.5995599474031
Step: 556, Net Worth: 1287.5995599474031
Step: 557, Net Worth: 1287.5995599474031
Step: 558, Net Worth: 1287.5995599474031
Step: 559, Net Worth: 1287.5995599474031
Step: 560, Net Worth: 1287.5995599474031
Step: 561, Net Worth: 1284.9664320129505
Step: 562, Net Worth: 1284.9664320129505
Step: 563, Net Worth: 1284.9664320129505
Step: 564, Net Worth: 1277.2433177065514
Step: 565, Net Worth: 1277.2433177065514
Step: 566, Net Worth: 1277.2433177065514
Step: 567, Net Worth: 1277.2433177065514
Step: 568, Net Worth: 1277.2433177065514
Step: 569, Net Worth: 1277.2433177065514
Step: 570, Net Worth: 1277.2433177065514
Step: 571, Net Worth: 1277.2433177065514
Step: 572, Net Worth: 1277.2433177065514
Step: 573, Net Worth: 1277.2433177065514
Step: 574, Net Worth: 1278.5909050854357
Step: 575, Net Worth: 1278.5909050854357
Step: 576, Net Worth: 1291.5359300683722
Step: 577, Net Worth: 1303.1325149489192
Step: 578, Net Worth: 1300.7053227646186
Step: 579, Net Worth: 1290.9965540274163
Step: 580, Net Worth: 1292.8843701707613
Step: 581, Net Worth: 1292.8843701707613
Step: 582, Net Worth: 1292.8843701707613
Step: 583, Net Worth: 1292.8843701707613
Step: 584, Net Worth: 1292.8843701707613
Step: 585, Net Worth: 1296.977503465941
Step: 586, Net Worth: 1306.2552722683483
Step: 587, Net Worth: 1306.2552722683483
Step: 588, Net Worth: 1300.8045930600515
Step: 589, Net Worth: 1298.6243213767327
Step: 590, Net Worth: 1298.6243213767327
Step: 591, Net Worth: 1298.6243213767327
Step: 592, Net Worth: 1298.6243213767327
Step: 593, Net Worth: 1298.6243213767327
Step: 594, Net Worth: 1298.6243213767327
Step: 595, Net Worth: 1298.6243213767327
Step: 596, Net Worth: 1298.6243213767327
Step: 597, Net Worth: 1309.4914705095925
Step: 598, Net Worth: 1309.4914705095925
net_worth: 1321.880735759169
defaultdict(<function QLearningAgent.__init__.<locals>.<lambda> at 0x00000173E04ED700>, {'0.0': [0.9614855154153545, 0.759345444952957, 0.8315090640461634], '1.0': [0.41589733719720834, 1.1067362060493087, 0.7983569089352149]})
average_net_worth: 1321.880735759169
Step: 0, Net Worth: 1000
Step: 1, Net Worth: 1000
Step: 2, Net Worth: 1000.0
Step: 3, Net Worth: 1014.0472312703583
Step: 4, Net Worth: 1011.8078175895766
Step: 5, Net Worth: 1011.8078175895766
Step: 6, Net Worth: 1011.8078175895766
Step: 7, Net Worth: 1011.8078175895766
Step: 8, Net Worth: 1012.2153116764028
Step: 9, Net Worth: 1016.0865055012523
Step: 10, Net Worth: 1021.7914227168197
Step: 11, Net Worth: 1021.7914227168197
Step: 12, Net Worth: 1012.0030004855149
Step: 13, Net Worth: 1014.0006376755772
Step: 14, Net Worth: 1011.8032367665087
Step: 15, Net Worth: 1011.8032367665087
Step: 16, Net Worth: 1011.8032367665087
Step: 17, Net Worth: 1018.4426296504408
Step: 18, Net Worth: 1025.886797429395
Step: 19, Net Worth: 1025.886797429395
Step: 20, Net Worth: 1025.886797429395
Step: 21, Net Worth: 1025.886797429395
Step: 22, Net Worth: 1025.886797429395
Step: 23, Net Worth: 1025.886797429395
Step: 24, Net Worth: 1025.886797429395
Step: 25, Net Worth: 1033.7149299083123
Step: 26, Net Worth: 1033.7149299083123
Step: 27, Net Worth: 1029.1108548912923
Step: 28, Net Worth: 1036.917764702761
Step: 29, Net Worth: 1036.917764702761
Step: 30, Net Worth: 1039.3203546190446
Step: 31, Net Worth: 1044.1255344516119
Step: 32, Net Worth: 1044.1255344516119
Step: 33, Net Worth: 1044.1255344516119
Step: 34, Net Worth: 1029.9884382404682
Step: 35, Net Worth: 1021.3042219964799
Step: 36, Net Worth: 1022.7179316175943
Step: 37, Net Worth: 1039.4804885536646
Step: 38, Net Worth: 1040.0863641055707
Step: 39, Net Worth: 1037.6628618979462
Step: 40, Net Worth: 1037.6628618979462
Step: 41, Net Worth: 1044.5444684981537
Step: 42, Net Worth: 1044.5444684981537
Step: 43, Net Worth: 1044.5444684981537
Step: 44, Net Worth: 1044.5444684981537
Step: 45, Net Worth: 1044.5444684981537
Step: 46, Net Worth: 1044.5444684981537
Step: 47, Net Worth: 1021.3416596121632
Step: 48, Net Worth: 1006.9182919262771
Step: 49, Net Worth: 1006.9182919262771
Step: 50, Net Worth: 1006.9182919262771
Step: 51, Net Worth: 1006.9182919262771
Step: 52, Net Worth: 1003.6437608956226
Step: 53, Net Worth: 1003.6437608956226
Step: 54, Net Worth: 1003.6437608956226
Step: 55, Net Worth: 1017.0772405587966
Step: 56, Net Worth: 1006.9003620260889
Step: 57, Net Worth: 1006.9003620260889
Step: 58, Net Worth: 1006.9003620260889
Step: 59, Net Worth: 1006.9003620260889
Step: 60, Net Worth: 1006.9003620260889
Step: 61, Net Worth: 1006.9003620260889
Step: 62, Net Worth: 1019.251241190294
Step: 63, Net Worth: 1019.251241190294
Step: 64, Net Worth: 1019.6593497953751
Step: 65, Net Worth: 1007.6201459454797
Step: 66, Net Worth: 987.4187699939604
Step: 67, Net Worth: 1005.3755486175331
Step: 68, Net Worth: 991.2958017422318
Step: 69, Net Worth: 1000.2741910540182
Step: 70, Net Worth: 1000.2741910540182
Step: 71, Net Worth: 1003.3456573520346
Step: 72, Net Worth: 1015.4267581242326
Step: 73, Net Worth: 1009.2838255281997
Step: 74, Net Worth: 1009.2838255281997
Step: 75, Net Worth: 1009.2838255281997
Step: 76, Net Worth: 1009.2838255281997
Step: 77, Net Worth: 1010.1033820247716
Step: 78, Net Worth: 1010.1033820247716
Step: 79, Net Worth: 1010.1033820247716
Step: 80, Net Worth: 1008.2694238972301
Step: 81, Net Worth: 1012.3448864028778
Step: 82, Net Worth: 1022.5335426669969
Step: 83, Net Worth: 1035.9825689356342
Step: 84, Net Worth: 1034.9637033092222
Step: 85, Net Worth: 1034.9637033092222
Step: 86, Net Worth: 1035.575383984937
Step: 87, Net Worth: 1041.080510066369
Step: 88, Net Worth: 1041.080510066369
Step: 89, Net Worth: 1041.080510066369
Step: 90, Net Worth: 1041.080510066369
Step: 91, Net Worth: 1041.080510066369
Step: 92, Net Worth: 1041.080510066369
Step: 93, Net Worth: 1041.489981260102
Step: 94, Net Worth: 1059.5067137843578
Step: 95, Net Worth: 1062.987218931089
Step: 96, Net Worth: 1062.577747737356
Step: 97, Net Worth: 1062.577747737356
Step: 98, Net Worth: 1062.577747737356
Step: 99, Net Worth: 1062.577747737356
Step: 100, Net Worth: 1062.577747737356
Step: 101, Net Worth: 1062.577747737356
Step: 102, Net Worth: 1060.9635012538963
Step: 103, Net Worth: 1060.9635012538963
Step: 104, Net Worth: 1060.9635012538963
Step: 105, Net Worth: 1060.9635012538963
Step: 106, Net Worth: 1060.9635012538963
Step: 107, Net Worth: 1060.9635012538963
Step: 108, Net Worth: 1060.9635012538963
Step: 109, Net Worth: 1060.9635012538963
Step: 110, Net Worth: 1060.9635012538963
Step: 111, Net Worth: 1060.9635012538963
Step: 112, Net Worth: 1060.9635012538963
Step: 113, Net Worth: 1060.9635012538963
Step: 114, Net Worth: 1060.9635012538963
Step: 115, Net Worth: 1060.9635012538963
Step: 116, Net Worth: 1060.9635012538963
Step: 117, Net Worth: 1060.9635012538963
Step: 118, Net Worth: 1060.9635012538963
Step: 119, Net Worth: 1060.9635012538963
Step: 120, Net Worth: 1060.9635012538963
Step: 121, Net Worth: 1050.8782968693536
Step: 122, Net Worth: 1046.6425110278456
Step: 123, Net Worth: 1046.239102852464
Step: 124, Net Worth: 1045.835694677082
Step: 125, Net Worth: 1047.2476232909182
Step: 126, Net Worth: 1039.381163870975
Step: 127, Net Worth: 1026.2703981710692
Step: 128, Net Worth: 1026.2703981710692
Step: 129, Net Worth: 1026.2703981710692
Step: 130, Net Worth: 1026.2703981710692
Step: 131, Net Worth: 1039.7474888565773
Step: 132, Net Worth: 1039.7474888565773
Step: 133, Net Worth: 1031.5730598933712
Step: 134, Net Worth: 1031.5730598933712
Step: 135, Net Worth: 1052.4372369118291
Step: 136, Net Worth: 958.9496745022003
Step: 137, Net Worth: 958.9496745022003
Step: 138, Net Worth: 1010.0586417760694
Step: 139, Net Worth: 998.7459849881775
Step: 140, Net Worth: 998.7459849881775
Step: 141, Net Worth: 998.7459849881775
Step: 142, Net Worth: 998.7459849881775
Step: 143, Net Worth: 979.2924208084312
Step: 144, Net Worth: 965.2858545990138
Step: 145, Net Worth: 969.9547100021529
Step: 146, Net Worth: 967.2312110169884
Step: 147, Net Worth: 954.7809299419507
Step: 148, Net Worth: 971.5109951365326
Step: 149, Net Worth: 971.5109951365326
Step: 150, Net Worth: 971.5109951365326
Step: 151, Net Worth: 971.5109951365326
Step: 152, Net Worth: 971.5109951365326
Step: 153, Net Worth: 971.5109951365326
Step: 154, Net Worth: 956.7851817502675
Step: 155, Net Worth: 956.7851817502675
Step: 156, Net Worth: 956.7851817502675
Step: 157, Net Worth: 956.7851817502675
Step: 158, Net Worth: 960.4401336330147
Step: 159, Net Worth: 960.4401336330147
Step: 160, Net Worth: 960.4401336330147
Step: 161, Net Worth: 970.2073214326725
Step: 162, Net Worth: 984.6546200529996
Step: 163, Net Worth: 973.6665337783846
Step: 164, Net Worth: 973.6665337783846
Step: 165, Net Worth: 973.6665337783846
Step: 166, Net Worth: 973.6665337783846
Step: 167, Net Worth: 973.6665337783846
Step: 168, Net Worth: 973.6665337783846
Step: 169, Net Worth: 971.3978763177698
Step: 170, Net Worth: 971.3978763177698
Step: 171, Net Worth: 947.517678524958
Step: 172, Net Worth: 932.9467103801915
Step: 173, Net Worth: 932.9467103801915
Step: 174, Net Worth: 929.5707857151291
Step: 175, Net Worth: 919.8401793275963
Step: 176, Net Worth: 935.3297160261179
Step: 177, Net Worth: 929.5707857151291
Step: 178, Net Worth: 929.5707857151291
Step: 179, Net Worth: 929.5707857151291
Step: 180, Net Worth: 941.3201531351644
Step: 181, Net Worth: 932.7039503604718
Step: 182, Net Worth: 932.7039503604718
Step: 183, Net Worth: 924.8163905265566
Step: 184, Net Worth: 918.9007206511202
Step: 185, Net Worth: 930.9292493978409
Step: 186, Net Worth: 930.9292493978409
Step: 187, Net Worth: 930.9292493978409
Step: 188, Net Worth: 930.9292493978409
Step: 189, Net Worth: 930.9292493978409
Step: 190, Net Worth: 930.9292493978409
Step: 191, Net Worth: 933.6621094296231
Step: 192, Net Worth: 941.4702809490011
Step: 193, Net Worth: 941.4702809490011
Step: 194, Net Worth: 941.4702809490011
Step: 195, Net Worth: 941.4702809490011
Step: 196, Net Worth: 942.8545052646161
Step: 197, Net Worth: 947.9959098654718
Step: 198, Net Worth: 947.9959098654718
Step: 199, Net Worth: 947.9959098654718
Step: 200, Net Worth: 947.9959098654718
Step: 201, Net Worth: 959.3503471132827
Step: 202, Net Worth: 953.3743275091717
Step: 203, Net Worth: 952.37832424182
Step: 204, Net Worth: 970.903985014564
Step: 205, Net Worth: 970.903985014564
Step: 206, Net Worth: 966.1123552304082
Step: 207, Net Worth: 972.7008461836224
Step: 208, Net Worth: 984.8795718850183
Step: 209, Net Worth: 984.8795718850183
Step: 210, Net Worth: 985.4782828709666
Step: 211, Net Worth: 979.2916026828337
Step: 212, Net Worth: 979.2916026828337
Step: 213, Net Worth: 979.2916026828337
Step: 214, Net Worth: 979.2916026828337
Step: 215, Net Worth: 977.7079493936761
Step: 216, Net Worth: 977.7079493936761
Step: 217, Net Worth: 986.7535177106732
Step: 218, Net Worth: 986.7535177106732
Step: 219, Net Worth: 989.3114032002522
Step: 220, Net Worth: 989.3114032002522
Step: 221, Net Worth: 989.3114032002522
Step: 222, Net Worth: 986.7417631919399
Step: 223, Net Worth: 982.5908062554354
Step: 224, Net Worth: 982.9861354874834
Step: 225, Net Worth: 978.8351785509789
Step: 226, Net Worth: 978.8351785509789
Step: 227, Net Worth: 978.8351785509789
Step: 228, Net Worth: 978.8351785509789
Step: 229, Net Worth: 978.8351785509789
Step: 230, Net Worth: 978.8351785509789
Step: 231, Net Worth: 978.8351785509789
Step: 232, Net Worth: 978.8351785509789
Step: 233, Net Worth: 978.8351785509789
Step: 234, Net Worth: 978.8351785509789
Step: 235, Net Worth: 978.8351785509789
Step: 236, Net Worth: 978.8351785509789
Step: 237, Net Worth: 978.8351785509789
Step: 238, Net Worth: 978.8351785509789
Step: 239, Net Worth: 978.8351785509789
Step: 240, Net Worth: 977.2681020193784
Step: 241, Net Worth: 977.2681020193784
Step: 242, Net Worth: 977.2681020193784
Step: 243, Net Worth: 977.2681020193784
Step: 244, Net Worth: 977.2681020193784
Step: 245, Net Worth: 977.4648542042021
Step: 246, Net Worth: 977.4648542042021
Step: 247, Net Worth: 977.4648542042021
Step: 248, Net Worth: 977.4648542042021
Step: 249, Net Worth: 977.4648542042021
Step: 250, Net Worth: 971.2644428106415
Step: 251, Net Worth: 971.2644428106415
Step: 252, Net Worth: 971.2644428106415
Step: 253, Net Worth: 971.2644428106415
Step: 254, Net Worth: 971.2644428106415
Step: 255, Net Worth: 962.6122010371056
Step: 256, Net Worth: 966.0328547615268
Step: 257, Net Worth: 966.0328547615268
Step: 258, Net Worth: 966.0328547615268
Step: 259, Net Worth: 961.6535589023152
Step: 260, Net Worth: 971.4074451341955
Step: 261, Net Worth: 966.0328547615268
Step: 262, Net Worth: 966.0328547615268
Step: 263, Net Worth: 966.0328547615268
Step: 264, Net Worth: 966.0328547615268
Step: 265, Net Worth: 966.0328547615268
Step: 266, Net Worth: 965.2237820188454
Step: 267, Net Worth: 953.0876908786253
Step: 268, Net Worth: 953.0876908786253
Step: 269, Net Worth: 949.850025686681
Step: 270, Net Worth: 949.850025686681
Step: 271, Net Worth: 949.850025686681
Step: 272, Net Worth: 949.850025686681
Step: 273, Net Worth: 949.850025686681
Step: 274, Net Worth: 949.850025686681
Step: 275, Net Worth: 949.850025686681
Step: 276, Net Worth: 949.850025686681
Step: 277, Net Worth: 949.6487862744592
Step: 278, Net Worth: 949.6487862744592
Step: 279, Net Worth: 950.0521198001651
Step: 280, Net Worth: 942.5904495746066
Step: 281, Net Worth: 942.5904495746066
Step: 282, Net Worth: 942.5904495746066
Step: 283, Net Worth: 942.5904495746066
Step: 284, Net Worth: 942.5904495746066
Step: 285, Net Worth: 942.5904495746066
Step: 286, Net Worth: 945.6096374335899
Step: 287, Net Worth: 943.7981247181999
Step: 288, Net Worth: 936.9546322378376
Step: 289, Net Worth: 936.9546322378376
Step: 290, Net Worth: 945.8954268200247
Step: 291, Net Worth: 945.4890270662889
Step: 292, Net Worth: 943.45702829761
Step: 293, Net Worth: 944.4730276819495
Step: 294, Net Worth: 944.4730276819495
Step: 295, Net Worth: 944.4730276819495
Step: 296, Net Worth: 944.4730276819495
Step: 297, Net Worth: 941.4638740253588
Step: 298, Net Worth: 941.4638740253588
Step: 299, Net Worth: 934.2771268953942
Step: 300, Net Worth: 931.6819126540181
Step: 301, Net Worth: 928.8870665479208
Step: 302, Net Worth: 930.683753330412
Step: 303, Net Worth: 938.8686597839827
Step: 304, Net Worth: 938.8686597839827
Step: 305, Net Worth: 938.8686597839827
Step: 306, Net Worth: 929.0238996022118
Step: 307, Net Worth: 929.0238996022118
Step: 308, Net Worth: 914.1111515391829
Step: 309, Net Worth: 911.2898208245557
Step: 310, Net Worth: 911.2898208245557
Step: 311, Net Worth: 905.5158630347562
Step: 312, Net Worth: 899.5428032522051
Step: 313, Net Worth: 894.167049447909
Step: 314, Net Worth: 888.3930916581096
Step: 315, Net Worth: 887.9948876726062
Step: 316, Net Worth: 887.9948876726062
Step: 317, Net Worth: 887.9948876726062
Step: 318, Net Worth: 887.9948876726062
Step: 319, Net Worth: 887.9948876726062
Step: 320, Net Worth: 887.9948876726062
Step: 321, Net Worth: 887.7904218914244
Step: 322, Net Worth: 887.7904218914244
Step: 323, Net Worth: 887.7904218914244
Step: 324, Net Worth: 887.7904218914244
Step: 325, Net Worth: 894.5304677990224
Step: 326, Net Worth: 914.7506055218165
Step: 327, Net Worth: 935.3919961138354
Step: 328, Net Worth: 926.1244329908881
Step: 329, Net Worth: 926.1244329908881
Step: 330, Net Worth: 926.1244329908881
Step: 331, Net Worth: 890.7602924678757
Step: 332, Net Worth: 872.038100426281
Step: 333, Net Worth: 872.038100426281
Step: 334, Net Worth: 870.9861847442228
Step: 335, Net Worth: 876.6665294273372
Step: 336, Net Worth: 876.6665294273372
Step: 337, Net Worth: 876.6665294273372
Step: 338, Net Worth: 875.7673842689502
Step: 339, Net Worth: 908.1366099708827
Step: 340, Net Worth: 908.1366099708827
Step: 341, Net Worth: 891.8960483520991
Step: 342, Net Worth: 918.3703885251846
Step: 343, Net Worth: 944.84472869827
Step: 344, Net Worth: 936.613211165462
Step: 345, Net Worth: 962.6426044448822
Step: 346, Net Worth: 992.8989932141228
Step: 347, Net Worth: 972.4314361055189
Step: 348, Net Worth: 970.429175084025
Step: 349, Net Worth: 957.9706620613965
Step: 350, Net Worth: 960.6403434233883
Step: 351, Net Worth: 942.8424676767762
Step: 352, Net Worth: 942.8424676767762
Step: 353, Net Worth: 942.8424676767762
Step: 354, Net Worth: 942.8424676767762
Step: 355, Net Worth: 942.8424676767762
Step: 356, Net Worth: 942.8424676767762
Step: 357, Net Worth: 942.8424676767762
Step: 358, Net Worth: 942.8424676767762
Step: 359, Net Worth: 942.8424676767762
Step: 360, Net Worth: 942.8424676767762
Step: 361, Net Worth: 928.8625477622688
Step: 362, Net Worth: 919.6953871625918
Step: 363, Net Worth: 925.42486253739
Step: 364, Net Worth: 904.1112141431411
Step: 365, Net Worth: 904.1112141431411
Step: 366, Net Worth: 904.1112141431411
Step: 367, Net Worth: 904.1112141431411
Step: 368, Net Worth: 904.1112141431411
Step: 369, Net Worth: 904.1112141431411
Step: 370, Net Worth: 902.5876757466552
Step: 371, Net Worth: 917.8230597115131
Step: 372, Net Worth: 922.3936749009705
Step: 373, Net Worth: 903.0229724313655
Step: 374, Net Worth: 880.6051931687888
Step: 375, Net Worth: 880.6051931687888
Step: 376, Net Worth: 880.6051931687888
Step: 377, Net Worth: 887.1540666926022
Step: 378, Net Worth: 891.9565739433988
Step: 379, Net Worth: 909.4202366735682
Step: 380, Net Worth: 909.6385324576953
Step: 381, Net Worth: 926.010716267229
Step: 382, Net Worth: 921.4265048005595
Step: 383, Net Worth: 921.4265048005595
Step: 384, Net Worth: 921.4265048005595
Step: 385, Net Worth: 917.6986964755691
Step: 386, Net Worth: 910.9009283535279
Step: 387, Net Worth: 924.2771817549639
Step: 388, Net Worth: 924.2771817549639
Step: 389, Net Worth: 936.1241276875024
Step: 390, Net Worth: 936.1241276875024
Step: 391, Net Worth: 936.1241276875024
Step: 392, Net Worth: 920.3710015184872
Step: 393, Net Worth: 920.3710015184872
Step: 394, Net Worth: 923.1697905289528
Step: 395, Net Worth: 923.1697905289528
Step: 396, Net Worth: 911.3892015546854
Step: 397, Net Worth: 906.4627734381736
Step: 398, Net Worth: 909.8898538670513
net_worth: 912.0317791351
defaultdict(<function QLearningAgent.__init__.<locals>.<lambda> at 0x00000173E04ED700>, {'0.0': [1.1627360188668883, 1.2631020286104384, 0.588522238871242], '1.0': [1.8433175569939202, 0.26787288066872617, 0.03776884318915667]})
average_net_worth: 912.0317791351